/* global settings, if any */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: mistyrose;
}

/* header */

#logo {
	height: 7rem;
	width: 7rem;
}

#header__picandtext {
	display: flex;
	gap: 2rem;
}

#header__text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#header__text h1 {
	font-weight: bold;
	font-size: 1.5rem;	
}

#header__text h2 {
	font-size: 1rem;
}

/* nagivation menu */

.navigation {
	background-color: pink;
}

.navigation__marker {
	border: 0;
	padding: 0.6rem;
	font-size: inherit;
	background-color: transparent;
}

.navigation__marker::after {
	content: " +";
}

.navigation:focus-within .navigation__items,
.navigation:hover .navigation__items {
	transform: rotateX(0deg);
}

.navigation__items {
	position: absolute;
	transform: rotateX(90deg);
	transform-origin: top;

	list-style-type: none;
	overflow: hidden;
	background-color: pink;
}

.navigation__item {
	padding: 0.6rem;
}

.navigation__item:focus-within,
.navigation__item:hover,
.navigation__current__item {
	background-color: white;
}

/* transition only if user wants it */
/* we don't have transition in larger layout */
@media (max-width: 599px) and (prefers-reduced-motion: no-preference) {
	.navigation__items {
		transition: transform 200ms;
	}
}

/* if the width is more than 600px, */
@media (min-width:  600px) {
	#logo {
		height: 10rem;
		width: 10rem;
	}

	#header__text h1 {
		font-size: 2rem;
	}

	#header__text h2 {
		font-size: 1.25rem;
	}

	.navigation {
		display: flex;
	}

	.navigation__marker::after {
		content: " >";
	}

	.navigation__items {
		position: initial;
		transform: none;

		display: flex;
		flex-grow: 1;
		justify-content: space-around;
	}
}

/* footer */

footer {
	display: flex;
	justify-content: space-around;
}

.footer__text {
	padding: 0.5rem;
	font-family: serif;
	font-size: 0.8rem;
}