/* form */

.form {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	width: 65%;
}

.form label {
	display: flex;
	flex-direction: column;
	padding: 0.3rem;
}

.form__text {
	padding-bottom: 2rem;
}

.form-button-div {
	margin: auto;
}

.required::after {
	content: " *";
	color: red;
}